IMPORTING THE NECESSARY LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

READ THE CSV FILE

In [ ]:
titanic = pd.read_csv("train.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

TO CHECK NULL VALUES

In [ ]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**DATA CLEANING**

In [ ]:
#Dropping the irrelevant Columns
tit = titanic.drop(labels=["Cabin","Name","Ticket"], axis=1)
tit

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [ ]:
tit["Pclass"].unique()

array([3, 1, 2])

In [ ]:
#Fill the null values of 'Age' column with the mean value
tit["Age"].fillna(tit["Age"].mean(),inplace = True)

In [ ]:
#Drooping the Rows with null values
tit.loc[tit['Embarked'].isnull()==True]

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  Fare Embarked
61            62         1       1  female  38.0      0      0  80.0      NaN
829          830         1       1  female  62.0      0      0  80.0      NaN

In [ ]:
tit = tit.drop(61)
tit = tit.drop(829).reset_index(drop=True)

In [ ]:
tit.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
#Replacing the male and female genders as 0 and 1
tit.replace(['male','female'],[0,1],inplace = True)
tit

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.000000,1,0,7.2500,S
1,2,1,1,1,38.000000,1,0,71.2833,C
2,3,1,3,1,26.000000,0,0,7.9250,S
3,4,1,1,1,35.000000,1,0,53.1000,S
4,5,0,3,0,35.000000,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
884,887,0,2,0,27.000000,0,0,13.0000,S
885,888,1,1,1,19.000000,0,0,30.0000,S
886,889,0,3,1,29.699118,1,2,23.4500,S
887,890,1,1,0,26.000000,0,0,30.0000,C
888,891,0,3,0,32.000000,0,0,7.7500,Q

In [ ]:
#Replacing the Embarked class values with 0,1,2
tit.replace(["Q","S","C"],[0,1,2],inplace = True)
tit

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.000000,1,0,7.2500,1
1,2,1,1,1,38.000000,1,0,71.2833,2
2,3,1,3,1,26.000000,0,0,7.9250,1
3,4,1,1,1,35.000000,1,0,53.1000,1
4,5,0,3,0,35.000000,0,0,8.0500,1
...,...,...,...,...,...,...,...,...,...
884,887,0,2,0,27.000000,0,0,13.0000,1
885,888,1,1,1,19.000000,0,0,30.0000,1
886,889,0,3,1,29.699118,1,2,23.4500,1
887,890,1,1,0,26.000000,0,0,30.0000,2
888,891,0,3,0,32.000000,0,0,7.7500,0

In [ ]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    int64
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 62.6 KB

SEPARATING DATA FOR TRAINING AND TESTING

In [ ]:
x = tit.drop(["Survived"],axis = 1)
y = tit['Survived']

In [ ]:
x

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0              1       3    0  22.000000      1      0   7.2500         1
1              2       1    1  38.000000      1      0  71.2833         2
2              3       3    1  26.000000      0      0   7.9250         1
3              4       1    1  35.000000      1      0  53.1000         1
4              5       3    0  35.000000      0      0   8.0500         1
..           ...     ...  ...        ...    ...    ...      ...       ...
884          887       2    0  27.000000      0      0  13.0000         1
885          888       1    1  19.000000      0      0  30.0000         1
886          889       3    1  29.699118      1      2  23.4500         1
887          890       1    0  26.000000      0      0  30.0000         2
888          891       3    0  32.000000      0      0   7.7500         0

[889 rows x 8 columns]

In [ ]:
y

0      0
1      1
2      1
3      1
4      0
      ..
884    0
885    1
886    0
887    1
888    0
Name: Survived, Length: 889, dtype: int64

In [ ]:
x_train,x_val,y_train,y_val = train_test_split(x,y,test_size = 0.2,random_state = 42)

LOGISTIC REGRESSION

In [ ]:
model = LogisticRegression(max_iter=1000)
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [ ]:
predictions = model.predict(x_val)
accuracy_score(predictions,y_val)

0.7865168539325843

In [ ]:
test = pd.read_csv("test.csv")

In [ ]:
test = test.drop(labels=["Cabin","Name","Ticket"], axis=1)

In [ ]:
test["Age"].fillna(test["Age"].mean(),inplace = True)
test['Fare'].fillna(test['Fare'].mean(),inplace = True)
test.replace(['male','female'],[0,1],inplace = True)
test.replace(["Q","S","C"],[0,1,2],inplace = True)

In [ ]:
test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
test_predictions = model.predict(test)
test_ids = test["PassengerId"]

In [ ]:
df = pd.DataFrame({"PassengerId":test_ids.values,"Survived":test_predictions})
df.to_csv("submission_Kaggle.csv",index=False)